@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1500px;
}

:root {
  --color: #a96f46;
  --white: #dfdcdc;
}

body {
  color: var(--white);
  background-color: black;
  overflow-x: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

h2 {
  cursor: pointer;
}

header {
  border-bottom: 2px solid var(--white);
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  z-index: 1111;
}

.logo {
  font-size: 3rem;
}

.item {
  display: flex;
  font-size: 1.2rem;
}

.item li {
  list-style: none;
  padding-left: 2rem;
  text-transform: uppercase;
}

.item li a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.2s linear;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -5px;
  width: 0;
  background-color: var(--color);
  transition: all 0.4s linear;
}

.item a:hover::before {
  width: 100%;
}

.item a:hover {
  color: var(--color);
}

.carts {
  display: flex;
  position: relative;
}

.carts i {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.carts i:hover {
  color: var(--color);
  cursor: pointer;
}

.carts #menu {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.carts #cross {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.search {
  display: flex;
  z-index: 4444;
}

.searBox {
  display: none;
  z-index: 4444;
}

.sbox {
  height: 40px;
  position: absolute;
  top: 60px;
  right: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0;
}

.sbox i {
  padding: 0;
  color: black;
  transform: rotate(95deg);
  font-size: 1.2rem;
  padding: 0.5rem;
  height: 100%;
}

.sbox input {
  color: black;
  font-size: 1rem;
  padding: 0.4rem;
  outline: none;
  border: none;
  height: 100%;
}



/* ############################### header start#########################################  */

/* ******************************************************************************************** */
.grid {
  max-width: 74rem;
  margin: 0 auto;
  place-content: center;
}

.container {
  padding: 6rem 0;
}

h2 {
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 6rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

p {
  margin-top: 1.5rem;
  line-height: 25px;
  font-size: 1.2rem;
}

span {
  color: var(--color);
}

.btn {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  padding: 2px 10px;
  border-radius: 6px;
  background-color: var(--color);
  color: var(--white);
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn:hover {
  padding: 2px 20px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  place-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}



/* ****************************************************************************************** */

.Home {
  width: 100%;
  position: relative;
}

.Home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Home::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25rem;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  z-index: 1;
  left: 0;
}

.conH {
  margin: 0 10rem;
}

.content-home {
  position: absolute;
  top: 150px;
  width: 37.5rem;
  margin: 0 auto;
  z-index: 2;
}

.content-home h1 {
  font-size: 4.2rem;
  text-transform: uppercase;
  line-height: 90px;
}

/* ******************** *************************************************************************/



/* ******************** *************************************************************************/

.abimg {
  background-color: red;
}

.abimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.abtxt {
  padding: 2rem 0 2rem 1.5rem;
  background-color: rgb(58, 56, 56);
}

/* ******************** *************************************************************************/



/* ******************** *************************************************************************/

.box {
  text-align: center;
  padding: 2rem 0;
  border: 1.5px solid grey;
  transition: all 0.9s ease;
  font-weight: 600;
}

.box img {
  width: 40%;
  height: 9.375rem;
  border-radius: 50%;
}

.box:hover {
  background-color: rgb(194, 191, 191);
  color: black;
}

/* ******************** *************************************************************************/



/* ******************** *************************************************************************/

.img_box {
  height: 8rem;
  width: 8rem;
  padding-bottom: 4rem;
}

.img_box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider_container .containers {
  max-width: 1200px;
  margin-inline: auto;
}

.sbox {
  max-width: 30rem;
  border: 2px solid rgb(81, 81, 81);
  margin-bottom: 6rem;
  border-radius: 6px;
  overflow: hidden;
}

.review {
  padding: 10px;
  background-color: rgb(58, 56, 56);
}

.review p {
  text-align: left;
  font-size: 18px;
  margin: 0;
}

.review ::before {
  content: "";
  position: absolute;
  bottom: 3rem;
  right: 10rem;
  border: 2rem solid black;
  border-color: transparent;
  border-top-color: rgb(58, 56, 56);
}

.customer-data {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: black;
}

.customer-data figure {
  height: 6rem;
  width: 6rem;
}
.customer-data figure img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.customer-data .cname p {
  margin: 0;
}


/* ******************** *************************************************************************/

.farm {
  margin-top: 4rem;
  background-image: url(/src/farm.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
  object-fit: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 146, 153, 1) 13%,
    rgba(171, 171, 209, 1) 24%,
    rgba(93, 180, 195, 1) 33%,
    rgba(0, 212, 255, 1) 100%
  );
  opacity: 0.6;
}

.farm h4 {
  position: absolute;
  z-index: 111;
  font-size:22px;
  padding: 0 2rem;
  text-align: center;
}



/* ******************** *************************************************************************/

form {
  width: 50%;
  margin: 0 auto;
  background-color: grey;
  padding: 2rem;
  border-radius: 4px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact input,
textarea {
  padding: 1rem 1rem;
  font-size: 1rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
}

.submit {
  height: 3.8rem;
  font-size: 2rem;
  text-transform: uppercase;
}



/* ******************** *************************************************************************/

.to-top {
  height: 38px;
  width: 38px;
  background-color: #4a4646dd;
  position: fixed;
  right: 20px;
  bottom: 10px;
  font-size: 1.8rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
}

.to-top.preview {
  opacity: 1;
  bottom: 32px;
  pointer-events: all;
  z-index: 11;
  border: 0.5px solid rgb(185, 181, 181);
}

/* ******************** *************************************************************************/
footer {
  background-color: #4a4646dd;
  height: 200px;
  display: flex;
  align-items: center;
}

.foot-items {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  padding: 0 2rem;
}


.location span {
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: inherit;
}

.reachus p {
  margin: 0 0 1rem;
}

.reachus i {
  font-size: 1.5rem;
  margin-left: 0.8rem;
  transition: transform 0.3s linear;
  cursor: pointer;
}

.reachus i:hover {
  transform: translateY(-10px);
  color: var(--color);
}
